<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>08_条件渲染</title>
</head>
<body>
<!--
切换一个元素:
  v-if
  v-else
  v-show
切换多个元素
  <template v-if="ok">  //不能用v-show
注意:
  如果需要频繁切换 v-show 较好，如果在运行时条件不大可能改变 v-if 较好
-->

<div id="demo">
  <h1>测试: 切换一个元素</h1>
  <p v-if="ok">上海自来水</p>
  <p v-else>水来自海上</p>
  <p v-show="ok">xxxxxxxxxxxxxxxx</p>
  <h1>测试: 切换多个元素</h1>

  <template v-if="ok">
    <h3>xxx</h3>
    <h3>yyy</h3>
    <h3>zzz</h3>
  </template>
  <button @click="ok=!ok">切换</button>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  var vm = new Vue({
        el:'#demo',
        data:{
            ok:true
        }
    })
</script>
</body>
</html>